* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  color: #444;
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
}

body {
  padding: 0 20% 1em;
  text-align: center;
}

h1 {
  font-weight: normal;
}

h2 {
  margin-top: 2em;
}

.clearfix::before {
  content: "";
  display: table;
  clear: both;
}

form label {
  display: block;
  font-weight: bold;
}
form input[type="text"],
form input[type="email"] {
  font-size: 1em;
  padding: 8px;
  width: 80%;
}
button,
input[type="submit"],
input[type="button"] {
  border-radius: 2px;
  border: 0;
  background: #777;
  color: #FFF;
  cursor: pointer;
  font-size: larger;
  padding: 8px 14px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus {
  background: #666;
}


.examples {
  text-align: left;
}
pre {
  background: #EEE;
  border-radius: 2px;
  overflow: scroll;
  padding: 0 1em;
}

.triggers {
  padding: 2em 0;
  border-bottom: 1px solid #CCC;
}

/* Dialogs */

modal-widget {
  text-align: left;
}

modal-widget ul {
  margin: 0;
  padding: 0;
}

modal-widget ul li {
  list-style-type: none;
}

modal-widget .title {
  float: left;
  width: 95%;
}
modal-widget .close {
  color: #000;
  float: right;
  text-decoration: none;
  width: 5%;
}

modal-widget form {
  clear: both;
}

modal-widget form div {
  margin: 1em 0;
}

modal-widget .controls {
  text-align: right;
}

@media screen and (max-width: 400px) {
  modal-widget .controls {
    text-align: left;
  }
  modal-widget .controls a,
  modal-widget .controls input {
    display: block;
    width: 100%;
    margin-bottom: .5em;
  }
}

/* Fullscreen */

.fullscreen ul {
  text-align: center;
  font-size: 2em;
  margin-top: 100%;
}
.fullscreen a {
  text-decoration: none;
}
.fullscreen .close {
  position: fixed;
  right: -100px;
  top: 0;
  color: #888;
  font-size: 3em;
}
@media screen and (max-width: 400px) {
  .fullscreen .close {
    right: 0;
    top: -.4em;
  }
}

/* Dialogs */

.dialog .header {
  overflow: hidden;
  padding: 1em;
}
.dialog .content {
  padding: 1em;
}
.dialog .controls {
  padding: 1em;
}

/* Fullscreen Form */

.form::shadow #overlay[data-fullscreen="true"] #content {
  top: 20%;
  width: 50%;
}
.form .header {
  margin-bottom: 4em;
}
.form .title {
  font-size: 1.3em;
}
.form .controls input {
  font-size: 1em;
}

@media screen and (max-width: 400px) {
  .form input[type="email"],
  .form input[type="text"] {
    width: 100%;
  }
}

/* Alert */

.alert.dialog .header {
  border-bottom: 1px solid #CCC;
}
.alert.dialog .content {
  padding: 2em 1em;
  min-height: 120px;
  min-width: 300px;
}
.alert.dialog .controls {
  border-top: 1px solid #CCC;
}

/* Video dialog */

.video .close {
  color: #FFF;
  font-size: 1.4em;
}

.video::shadow #mask {
  background: rgba(0, 0, 0, .9);
}
.video::shadow #overlay #content {
  border: 0;
}

.video::shadow #overlay #content {
  background: none;
}
